@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

textarea {
  resize: none;
}

body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

.inner {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.large-inner {
  position: relative;
  max-width: 1300px;
  margin: auto;
}

a {
  text-decoration: none;
  //color: #fff;
  // display: block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 170px;
  height: 40px;
}

.btn:hover {
  color: #1f2147;
  background-color: #fff;
}

.btn.btn--white {
  color: #1f2147;
  border: #fff;
  background-color: #fff;
}

.btn.btn--white:hover {
  color: #fff;
  background-color: #1f2147;
}

/*BACK TO POSITION*/
.back-to-position {
  opacity: 0;
  transition: 1s;
  overflow: hidden;
}

.back-to-position.to-right {
  transform: translateX(-7vw);
}

.back-to-position.to-left {
  transform: translateX(7vw);
}

.back-to-position.to-top {
  transform: translateY(100px);
}

.back-to-position.to-bottom {
  transform: translateY(-100px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

//spd
.show .back-to-position.spd.delay-1 {
  transition-delay: 0.2s;
}

.show .back-to-position.spd.delay-2 {
  transition-delay: 0.4s;
}

.show .back-to-position.spd.delay-3 {
  transition-delay: 0.6s;
}

.show .back-to-position.spd.delay-0 {
  transition-delay: 0.05s;
}

.show .back-to-position.spd.delay-1 {
  transition-delay: 0.2s;
}

.show .back-to-position.delay-0 {
  transition-delay: 0.3s;
}

.show .back-to-position.delay-1 {
  transition-delay: 0.6s;
}

.show .back-to-position.delay-2 {
  transition-delay: 0.8s;
}

.show .back-to-position.delay-3 {
  transition-delay: 1.3s;
}

.show .back-to-position.delay-4 {
  transition-delay: 1.6s;
}

.show .back-to-position.delay-5 {
  transition-delay: 1.8s;
}

.show .back-to-position.delay-6 {
  transition-delay: 2s;
}

.show .back-to-position.delay-7 {
  transition-delay: 2.2s;
}

.show .back-to-position.delay-8 {
  transition-delay: 1s;
}

/* HEADER */
header {
  font-family: "Secular One", sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  height: 110px;
  border-bottom: 4px solid rgb(69, 48, 138);
  background-color: white;
  z-index: 9;
}
header > .inner {
  height: 110px;
  max-width: 1100px;
  margin: 0 auto;
}
header .logo {
  position: absolute;
  height: 42px;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
}
header .logo img {
  width: 117.5px;
  height: 42px;
}
header .nav {
  position: absolute;
  display: flex;
  top: 60px;
  right: 9.35px;
  height: 29px;
}
header .nav li {
  a {
    color: #000;
  }
  padding: 0 15px;
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
}
header .nav li .solutions {
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
  background-color: white;
  text-align: right;
  transition: all 0.5s;
}
header .nav li:nth-child(2):hover .solutions {
  visibility: visible;
  opacity: 1;
}
header .nav li .solutions div {
  font-size: 16px;
  border: 2px solid rgb(69, 48, 138);
  padding: 4px 4px 4px 0;
  font-weight: bold;
}
header .nav li .solutions div:first-child {
  border-bottom: none;
}
header .nav li a:hover {
  color: rgba(33, 33, 33, 0.7);
}
header .nav li a {
  position: relative;
}
header .nav li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: rgb(69, 48, 138);
  transition: all 0.6s;
}
header .nav li a::before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: rgb(69, 48, 138);
  transition: all 0.6s;
}
header .nav li .solutions a::after {
  height: 2px;
  bottom: -2px;
}
header .nav li .solutions a::before {
  height: 2px;
  bottom: -2px;
}
header .nav li a:hover::after {
  width: 50%;
}
header .nav li a:hover::before {
  width: 50%;
}
header .nav li .underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 50%;
  height: 3px;
  background-color: rgb(69, 48, 138);
}
header .nav li .underline::before {
  content: "";
  position: absolute;
  right: 50%;
  bottom: -4px;
  width: 50%;
  height: 3px;
  background-color: rgb(69, 48, 138);
}
header .nav li .underline {
  color: rgb(69, 48, 138);
}
.nav__button {
  position: absolute;
  right: 15px;
  width: 48px;
  font-size: 24px;
  display: none;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

//visual
.visual {
  position: relative;
  background: url("./images/FOBE__BG.png") no-repeat;
  background-size: 100% 100%;
  height: 70vh;
  margin-top: 100px;

  .fade-in {
    opacity: 0;
  }

  > .imgbg {
    width: 50vw;
    height: 55vh;
    margin: auto 0;
  }

  .word,
  .word2 {
    font-size: 4vw;
    color: #fff;
    position: absolute;
    font-family: "Secular One", sans-serif;
  }

  .word {
    bottom: 38%;
    right: 8%;
  }

  .word2 {
    font-size: 3.7vw;
    bottom: 20%;
    right: 18%;
  }
}

// Vision
.vision {
  padding: 120px 0 180px;
  background-color: #fff;
  text-align: center;
  font-family: "Secular One", sans-serif;
  font-weight: 100;

  > .inner {
    display: flex;
    flex-direction: column;

    .vision-description {
      padding-bottom: 50px;

      h3 {
        font-size: 40px;
        //font-weight: 900;
        margin-bottom: 50px;
      }

      p {
        font-size: 21px;
        //font-weight: 400;
        color: rgb(3, 1, 143);
        padding: 0 20px;
      }
    }
  }

  .large-inner {
    max-width: 1100px;

    .img-box {
      display: flex;

      .imgAndDes {
        p {
          display: none;
        }

        span {
          display: flex;
          justify-content: center;
          font-size: 24px;
          //font-weight: 900;
          color: rgb(7, 7, 165);
          padding: 20px;
        }

        img {
          width: 70%;
        }
      }
    }
  }
}

//experience
.experience {
  background-color: #eaeaee;
  padding: 150px 0 120px;

  > .large-inner {
    .STitle {
      font-size: 50px;
      font-weight: 900;
      padding-bottom: 80px;
    }

    .experience__contents {
      .content__item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 150px;

        .item__text {
          width: 45%;
          padding-top: 40px;

          h4 {
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 20px;
          }

          p {
            font-size: 20px;
            font-weight: 500;
            color: #000;
          }
        }

        .item__img {
          width: 45%;

          img {
            width: 100%;
            height: 300px;
          }
        }
      }
    }
  }
}

// Solution
.Solution {
  padding: 180px 0 150px;
  background: url("./images/right.png") no-repeat bottom 30px right #202147;
  background-size: 50% 30%;

  > .inner {
    text-align: center;
    color: #fff;

    h3 {
      font-size: 36px;
      font-weight: 900;
      padding: 0 30px 30px 30px;
    }

    .inner__box {
      display: flex;
      justify-content: center;

      p {
        max-width: 700px;
        font-size: 17px;
        font-weight: 400;
      }
    }

    .solution-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      > .img {
        padding: 70px 30px 30px 30px;

        .des-box {
          padding: 20px 0 50px;
          .s_des {
            max-width: 700px;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        .img__btn {
          display: flex;
          justify-content: center;
          padding-top: 30px;

          .btn {
            color: #fff;
            border: 1px solid #fff;
            font-size: 18px;
            font-weight: 600;
            border-radius: 20px;
            transition: 0.3s;
          }

          .btn:hover {
            color: #1f2147;
            background-color: #fff;
          }
        }

        .Solution-title {
          font-size: 22px;
          font-weight: 600;
          padding-bottom: 10px;
          //color: gold;
          color: blueviolet;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

//contact us
.contact {
  padding: 15vh 0 12vh;
  background: url("./images/footer__BG.png") no-repeat;
  background-size: 100% 100%;

  > .inner {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;

    .contact_text {
      width: 300px;

      > h2 {
        font-family: "Secular One", sans-serif;
        font-size: 80px;
        line-height: 1;
        padding-bottom: 70px;
      }

      .des {
        color: #444;
        font-weight: 600;
      }

      .email {
        display: flex;
        padding: 5px 30px;
        font-weight: 600;
        font-size: 13px;

        .material-icons {
          display: flex;
          padding-right: 5px;
        }
      }

      .address,
      .nameAndTel {
        display: flex;
        font-weight: 600;
        font-size: 13px;

        .material-icons {
          display: flex;
          align-items: center;
          padding-right: 5px;
        }
      }

      .nameAndTel {
        padding-top: 20px;
      }

      p {
        padding-left: 30px;
        line-height: 1.6;
        font-size: 15px;
      }
    }

    .contact_text::before {
      content: "";
      width: 4px;
      height: 210px;
      background-color: #888;
      position: absolute;
      top: 0;
      bottom: -200px;
      margin: auto;
    }

    .sign {
      width: 428px;

      input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #999;
        outline: none;
        padding: 10px 0;
        font-weight: 600;
      }

      textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #999;
        outline: none;
        padding: 10px 0 0;
        font-weight: 600;
      }

      label {
        font-weight: 600;
      }

      .first {
        padding-right: 90px;
      }

      .Title {
        display: inline-flex;
        padding-bottom: 40px;
      }

      .bt {
        button {
          border: 1px solid #222;
          border-radius: 30px;
          padding: 12px 25px;
          cursor: pointer;
          transition: 0.3s;
          font-weight: 600;
        }
      }
    }

    .copyright {
      position: absolute;
      bottom: -70px;
      right: 0;
      font-size: 13px;
    }
  }
}
.alert-box {
  position: fixed;
  width: 20%;
  height: 200px;
  top: 200px;
  left: 40%;
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media screen and (max-width: 1340px) {
  //experience
  .experience {
    > .large-inner {
      h3 {
        padding-left: 30px;
      }

      .experience__contents {
        .content__item {
          padding: 80px 30px;

          .item__text {
            padding: 0;

            h4 {
              font-size: 35px;
            }

            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  /* HEADER */
  header {
    height: 50px;
  }
  header .inner {
    position: relative;
    width: 100%;
    height: 50px;
  }
  header .logo img {
    position: absolute;
    height: 30px;
    width: 80px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  header .nav__button {
    display: block;
    position: absolute;
    top: 10%;
  }
  header .nav__button img {
    width: 40px;
    height: 40px;
  }
  header .nav {
    flex-direction: column;
    width: 100%;
    background-color: white;
    height: 165px;
    align-items: center;
    top: 54px;
    left: 0;
    border-bottom: 4px solid rgb(69, 48, 138);
    display: none;
  }
  header .nav li {
    margin: 10px;
    height: 20px;
  }
  header .nav.active2 #solution__moblie {
    margin-bottom: 70px;
  }
  header .nav li .solutions {
    display: none;
    visibility: visible;
    opacity: 1;
    margin: 5px auto;
  }
  header .nav li .solutions div {
    border: none;
    text-align: center;
    padding: 3px 0;
    font-size: 18px;
  }
  header .nav.active {
    display: flex;
  }
  header .nav.active2 {
    height: 230px;
  }
  header .nav li .solutions.active {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  //visual
  .visual {
    height: 400px;
    margin-top: 50px;

    .word,
    .word2 {
      font-size: 4vw;
      color: #fff;
      position: absolute;
      font-family: "Secular One", sans-serif;
    }

    .word {
      bottom: 38%;
      right: 8%;
    }

    .word2 {
      font-size: 3.7vw;
      bottom: 25%;
      right: 18%;
    }
  }

  // Vision
  .vision {
    padding-top: 80px;

    .inner {
      .vision-description {
        h3 {
          font-size: 35px;
        }

        p {
          font-size: 18px;
        }
      }
    }

    .large-inner {
      .img-box {
        .img {
        }
      }
    }
  }

  //experience
  .experience {
    background-color: #eaeaee;
    padding-top: 80px;

    > .large-inner {
      text-align: center;

      h3 {
        font-size: 45px;
        font-weight: 900;
        padding-bottom: 80px;
        padding-left: 0;
      }

      .experience__contents {
        .content__item.foo {
          height: 350px;
        }

        .content__item.two {
          height: 510px;
        }

        .content__item.three {
          height: 445px;
        }

        .content__item {
          width: 90%;
          height: 480px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          .item__text {
            height: 100%;
            position: relative;
            width: 100%;

            //padding: 20px;
            > h4 {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              font-size: 25px;
            }

            > p {
              position: absolute;
              bottom: 0;
              right: 0;
              left: 0;
              //padding-top: 62vw;
              max-width: 500px;
              margin: auto;
            }
          }

          .item__img.img_3 {
            top: 145px;
          }

          .item__img.img_1 {
            top: 145px;
          }

          .item__img.img_4 {
            top: 145px;
          }

          .item__img {
            position: absolute;
            top: 180px;
            width: 80%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  // Solution
  .Solution {
    padding: 100px 0;
    background-size: 50% 20%;

    > .inner {
      width: 100%;
      text-align: center;

      h3 {
        color: #fff;
        font-size: 36px;
        font-weight: 900;
        padding: 0 30px 30px 30px;
      }

      p {
        font-size: 18px;
        font-weight: 900;
        color: #fff;
        padding-bottom: 30px;
      }

      .solution-box {
        display: flex;
        flex-direction: column;

        > .img {
          padding: 30px;

          .img__btn {
            display: flex;
            justify-content: center;
            padding-top: 50px;

            .btn {
              color: #fff;
              border: 1px solid #fff;
              font-size: 18px;
              font-weight: 600;
              border-radius: 20px;
              transition: 0.3s;
            }

            .btn:hover {
              color: #1f2147;
              background-color: #fff;
            }
          }

          img {
            width: 100%;
            height: 100%;
            margin-top: 50px;
          }
        }
      }
    }
  }

  //contact us
  .contact {
    padding: 100px 0;

    > .inner {
      display: flex;
      flex-direction: column;
      padding: 0;

      .contact_text {
        width: 300px;
        margin: auto;

        > h2 {
          padding-bottom: 30px;
        }

        .text {
          display: none;
        }
      }

      .contact_text::before {
        display: none;
      }

      .sign {
        width: 320px;
        margin: auto;
        text-align: center;

        input {
          width: 120px;
        }

        textarea {
          width: 300px;
        }

        .first {
          padding-right: 50px;
          text-align: start;
        }

        .last {
          text-align: start;
        }

        .Title {
          display: inline-flex;
          padding-bottom: 10px;
        }

        #Message {
          width: 290px;
          text-align: start;
        }

        .bt {
          padding-left: 75px;

          button {
            border: 1px solid #222;
            border-radius: 30px;
            padding: 12px 25px;
            cursor: pointer;
            transition: 0.3s;
            font-weight: 600;
          }
        }
      }
    }
  }

  // awards
  .awards {
    padding: 30px 0;
    overflow: hidden;
    background-color: #272727;

    .inner {
      .swiper-container {
        width: 100%;
        height: 100%;

        img {
          width: 60px;
          height: 30px;
        }
      }
    }
  }

  footer {
    background-color: #9a9af7;
    position: relative;

    .inner {
      padding: 10px 0 60px 0;

      .info {
        display: block;
        bottom: 80px;
        right: 10px;

        p {
          font-size: 13px;
          font-weight: 500;
        }
      }

      img {
        width: 30%;
        padding: 10px;
      }

      > p {
        position: absolute;
        bottom: 20px;
        right: 10px;
        font-size: 12px;
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 644px) {
  //experience
  .experience {
    background-color: #eaeaee;
    padding-top: 80px;

    > .large-inner {
      text-align: center;

      h3 {
        font-size: 45px;
        font-weight: 900;
        padding-bottom: 80px;
        padding-left: 0;
      }

      .experience__contents {
        .content__item.foo {
          height: 370px;
        }

        .content__item.two {
          height: 485px;
        }

        .content__item.three {
          height: 425px;
        }

        .content__item {
          width: 90%;
          height: 490px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          .item__text {
            height: 100%;
            position: relative;
            width: 100%;

            //padding: 20px;
            > h4 {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              font-size: 25px;
            }

            > p {
              position: absolute;
              bottom: 0;
              right: 0;
              left: 0;
              //padding-top: 62vw;
              max-width: 500px;
              margin: auto;
            }
          }

          .item__img.img_3 {
            top: 145px;
          }

          .item__img.img_1 {
            top: 180px;
          }

          .item__img.img_4 {
            top: 180px;
          }

          .item__img {
            position: absolute;
            top: 180px;
            width: 80%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 552px) {
  //experience
  .experience {
    background-color: #eaeaee;
    padding-top: 80px;

    > .large-inner {
      text-align: center;

      h3 {
        font-size: 45px;
        font-weight: 900;
        padding-bottom: 80px;
        padding-left: 0;
      }

      .experience__contents {
        .content__item.foo {
          height: 350px;
        }

        .content__item.two {
          height: 450px;
        }

        .content__item.three {
          height: 425px;
        }

        .content__item {
          width: 90%;
          height: 455px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          .item__text {
            height: 100%;
            position: relative;
            width: 100%;

            //padding: 20px;
            > h4 {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              font-size: 25px;
            }

            > p {
              position: absolute;
              bottom: 0;
              right: 0;
              left: 0;
              //padding-top: 62vw;
              max-width: 500px;
              margin: auto;
            }

            p.p_3 {
              bottom: 7vw;
            }
          }

          .item__img.img_3 {
            top: 145px;
          }

          .item__img.img_1 {
            top: 180px;
          }

          .item__img.img_4 {
            top: 180px;
          }

          .item__img {
            position: absolute;
            top: 180px;
            width: 80%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  //visual
  .visual {
    height: 250px;
    margin-top: 50px;

    > .imgbg {
      width: 57vw;
      height: 220px;
    }
  }

  // Vision
  .vision {
    > .inner {
      .vision-description {
        > p {
          display: none;
        }

        > h3 {
          margin: 0;
          padding-bottom: 30px;
        }
      }
    }

    .large-inner {
      .img-box {
        display: flex;
        flex-direction: column;

        .imgAndDes {
          padding: 0px 10px 30px;
          display: flex;

          .vision__des {
            display: flex;

            .img-box1 {
              position: relative;
              padding-bottom: 30px;
            }

            > p {
              display: block;
              padding: 10px;
            }

            span {
              position: absolute;
              padding: 0;
              font-size: 15px;
              bottom: 0;
            }

            .t {
              left: calc((100px - 44.76px) / 2);
            }

            .c {
              left: calc((100px - 68.55px) / 2);
            }

            .f {
              left: calc((100px - 55.5px) / 2);
            }
          }

          .sec {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }

  //experience
  .experience {
    .show .back-to-position.spd.delay-1 {
      transition-delay: 1s;
    }
    > .large-inner {
      text-align: center;

      .STitle {
        font-size: 40px;
        padding-bottom: 0px;
      }

      .experience__contents {
        .content__item.two {
          height: 345px;
        }

        .content__item.three {
          height: 270px;
        }

        .content__item.foo {
          height: 255px;
        }

        .content__item {
          width: 85%;
          height: 330px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          .item__text {
            position: relative;
            width: 100%;
            height: 100%;
            > h4 {
              font-size: 18px;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
            }

            > p {
              max-width: 320px;
              font-size: 14px;
              position: absolute;
              right: 0;
              left: 0;
              margin: auto;
            }

            p.p_3 {
              bottom: 0;
            }
          }

          .item__img.img_1 {
            top: 145px;
          }

          .item__img.img_2 {
            top: 145px;
          }

          .item__img.img_3 {
            top: 115px;
          }

          .item__img.img_4 {
            top: 145px;
          }

          .item__img {
            position: absolute;
            top: 145px;
            width: 80%;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 349px) {
  //experience
  .experience {
    > .large-inner {
      text-align: center;

      .STitle {
        font-size: 40px;
        padding-bottom: 0px;
      }

      .experience__contents {
        .content__item.two {
          height: 370px;
        }

        .content__item.three {
          height: 270px;
        }

        .content__item.foo {
          height: 255px;
        }

        .content__item {
          width: 85%;
          height: 320px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;

          .item__text {
            position: relative;
            width: 100%;
            height: 100%;

            > h4 {
              font-size: 18px;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
            }

            > p {
              max-width: 350px;
              font-size: 14px;
              position: absolute;
              right: 0;
              left: 0;
              margin: auto;
            }

            p.p_3 {
              bottom: 0;
            }
          }

          .item__img.img_1 {
            top: 145px;
          }

          .item__img.img_2 {
            top: 180px;
          }

          .item__img.img_3 {
            top: 145px;
          }

          .item__img.img_4 {
            top: 145px;
          }

          .item__img {
            position: absolute;
            top: 145px;
            width: 80%;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
